#red{
 font-weight: normal;
 color: red;
 
}
#blue{
    font-weight: normal;
    color: blue;
    
}
#orange {
    font-weight: normal;
    color: orange;
    
}

#green{
    font-weight: normal;
    color: green;
    
}

img{
    height: 200px;
    width: 200px;
}